.block {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.block .question {
    font-size: 20px;
    font-weight: 700;
    background: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
    padding: 15px 30px;
    color: white;
}

.block .answers {
    list-style: none;
}

.block .answers .answer {
    font-size: 16px;
    font-weight: 700;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
    border-radius: 4px;
    padding: 15px 30px;
    margin-top: 15px;
    text-align: left;
}

.block .answers .answer:hover {
    background: cornflowerblue;
    color: white;
}

.block .answers .answer.clicked {
    background: cornflowerblue;
    color: white;
}
